@tailwind base;
@tailwind components;
@tailwind utilities;

.neumorphic-shadow {
	box-shadow:
		14px 14px 30px #171717,
		-14px -14px 30px #232323;
}
.neumorphic-shadow-inset {
	box-shadow:
		inset 6px 6px 12px #171717,
		inset -6px -6px 12px #232323;
}
.neumorphic-shadow-small {
	border-radius: 10px;
	background: #1d1d1d;
	box-shadow:
		5px 5px 10px #151515,
		-5px -5px 10px #252525;
}
